.authPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgba(0, 0, 0, 0.2);
    background-color: #000;
    background-color: gray;
   }
  