* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  :root{
    --second-family:  Garamond;
    // --font-family:"Katibeh", sans-serif;
    --font-family: "Karla", sans-serif;
    --third-family: "Cormorant SC", sans-serif;
    --font3: "Katibeh", sans-serif;
  }

  :root{
    --fff-white: #fff;
    --black:#0C0606;
--gold:#d3a15b;
--gooold:#edb25f;


  }